
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap"); 
@import url("components/banner.css"); 
@import url("components/button.css");
@import url("components/container.css");
@import url("components/form.css");
@import url("components/slideshow.css");




body {
	font-family: 'Alice', serif;
	font-size: 22 px;
	background-color: #fff7eb;  
	position:relative;
	width: 100%;
	height:2000px;
    padding: 0;
    margin: 0;


}



h1,h2 {
	   font-family: 'Alice', serif;
}


h1 {
	font-size: 48px;
	font-weight: bold; 
  text-align:center;
}


h2 {
	font-size: 30px;
}



a {
	text-decoration: none ; 
}

.header {
  padding: 15px;
  text-align: center;
  background: #9dcda2;
  color: white;
}

footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 30px 0px;
        background-color: #729B76;
        color: white;
        bottom: 0;
	text-align:center;
      }


.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 35px;
	color: white;
}

.list-inline i:hover {
	color: black;
}


.img-circle {
  border-radius: 50%
}

.card-brown {
  background-color:  #EFD8C2;
  padding:  30px;
  margin: 20px 0px;
  text-align: center;
  width: 250px;
}

.card-brown-2 {
  background-color:  #EFD8C2;
  padding:  20px;
  margin: 20px 0px;
  text-align: center;
  width: 600px;
}

.card-brown-3{
  background-color:  #EFD8C2;
  padding:  20px;
  margin: 20px 0px;
  text-align: center;
  width: 500px;
}

 #global{
  width:110%;
}
#global #gauche {
    float:left;
    width:40%;
}
#global #droite {
  width: 40% ;
    margin-left:50% ; 
}

.card-brown-4{
  background-color:  #EFD8C2;
  padding:  40px;
  margin: 20px 0px;
  text-align: center;
  width: 950px;
}

.card-brown-5{
  background-color:  #EFD8C2;
  padding:  20px;
  margin: 20px 0px;
  text-align: center;
  width: 500px;
}

.cards {

  display: flex;
  flex-wrap: wrap;
  text-align:center;
}



.card {
  padding: 30px;
    display: block;
    text-align: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    border-radius: 4px;
    margin: 30px;
    flex-basis: 250px;
    flex-grow:1;
}


.card img{

   width: 200px;
    border-radius: 3px;
}


.card .btn-pink {
  bottom: 5px;
}


.images {
   display: flex;
  display: center; 
  flex-wrap: wrap;
}

.image {
  padding: 30px;
    display: block;
    text-align: center;
    justify-content: space-between;
    border-radius: 4px;
    margin: 30px;
    flex-basis: 250px;
    flex-grow:1;
    
}

.blocks {
  display: block;
  display: center; 

}

.block {
padding: 40px;
    display: block;
    text-align: center;

}


* {box-sizing:border-box}




