.btn-pink {
	background-color: #ffc9b9;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.btn-pink:hover {
	background-color: black;
	color: white;
}

.btn-discover {
	background-color: #ffc9b9;
	padding: 7px 20px;
	border-radius: 0px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.btn-discover:hover {
	background-color: black;
	color: white;
}



.btn-green {
	background-color: #729B76;
	color:  white;
	padding:  15px 20px;
	border-radius: 4px;
	text-transform: uppercase;
	font-family: "alice", serif;
}

.btn-green:hover {
	background-color: #4A714E;
	color: white;
}






/* Dropdown Button */
.dropbtn {
  background-color: #729B76;
  color: white;
  padding:  15px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "alice", serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
